* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(61, 68, 68);
    margin: auto;
    width: 85vw;
    height: 100vh;
}

.container {

    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner {

    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    background-color: black;
}

.inner h1 {

    color: red;
}

.result {

    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.result ul {

    padding: 20px 0;
    margin: 50px;
    width: 300px;
}

.result ul li {

    list-style: none;
}

.result ul li span {

    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}

.card {

    width: 400px;
    height: auto;
    background-color: gray;
    position: relative;
}

.poster {

    position: absolute;
    top: 0;
    left: 0;
}

.list {

    position: absolute;
    top: 0;
    left: 0;
}